* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  display: inline-block;
}

.menu ul {
  display: flex;
  text-shadow: 0px 0px 10px #383737;
}

.menu ul li .btn {
  padding: 10px 20px;
  background-color: tomato;
  border-radius: 5px;
  color: #fff;
  margin-top: -6px;
  box-shadow: 0px 0px 10px #625959;
}
.menu ul li a {
  padding: 0 35px;
}
#bannerpart {
  width: 100%;
  padding-top: 500px;
  padding-bottom: 185px;
  background: url("../images/11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bannertext h4 {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
}
.bannertext h1 {
  font-size: 85px;
  font-weight: 700px;
  color: #181818;
  padding-top: 30px;
  padding-bottom: 35px;
}
.bannertext p {
  font-size: 18px;
  font-weight: 400px;
  color: #757575;
  line-height: 30px;
  width: 835px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  line-height: 0.8x;
}
.bannertext a {
  padding: 15px 20px;
  background-color: #fd6e0a;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 30px;
  color: #fff;
}
.bannertext a:hover {
  background: transparent;
  transition: 0.3s;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
}
.bannertext a i {
  font-size: 20px;
}
#aboutpart {
  padding: 130px;
}
.aboutcontent {
  padding: 130px 155px;
  background-color: #fff8f3;
  border-radius: 10px;
}
.aboutcontent h3 {
  font-size: 35px;
  text-align: Center;
  color: #181818;
}
.aboutcontent p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  padding-top: 30px;
  text-align: center;
}
.contactdetails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contactdetails h4 {
  text-align: center;
}

.contactdetails p {
  margin-top: -30px;
}
#boxAbout h4 {
  font-size: 35px;
  text-align: Center;
  color: #181818;
}
.text p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  padding-top: 30px;
  text-align: center;
  width: 850px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.column1 {
  width: 267px;
  height: 377px;
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
}
.columnContainer .column1 h3 {
  padding-top: 20px;
  font-size: 20px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 10px;
}
.column1 h3 p {
  font-size: 16px !important;
  color: white !important;
  /* padding-top: 20px !important;  */
  text-align: center !important;
  line-height: 28px !important;
  width: 100px;
}
.column2 {
  width: 267px;
  height: 377px;
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
}
.columnContainer .column2 h3 {
  padding-top: 20px;
  font-size: 20px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 10px;
}
.column2 h3 p {
  font-size: 16px !important;
  color: white !important;
  /* padding-top: 20px !important;  */
  text-align: center !important;
  line-height: 28px !important;
  width: 100px;
}
.column3 {
  width: 267px;
  height: 377px;
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
}
.columnContainer .column3 h3 {
  padding-top: 20px;
  font-size: 20px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 10px;
}
.column3 h3 p {
  font-size: 16px !important;
  color: white !important;
  /* padding-top: 20px !important;  */
  text-align: center !important;
  line-height: 28px !important;
  width: 100px;
}
.column4 {
  width: 267px;
  height: 377px;
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 79px -42px rgba(0, 0, 0, 0.75);
}
.columnContainer .column4 h3 {
  padding-top: 20px;
  font-size: 20px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 10px;
}
.column4 h3 p {
  font-size: 16px !important;
  color: white !important;
  /* padding-top: 20px !important;  */
  text-align: center !important;
  line-height: 28px !important;
  width: 100px;
}

.columnContainer {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
  margin-bottom: 130px;
}

/* Resume */

.title h4 {
  font-size: 35px;
  text-align: Center;
  color: #181818;
  margin-bottom: 120px;
}

.resumeHead h4 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 120px;
}
.resumeLeft h3 {
  font-size: 30px;
  margin-bottom: 40px;
  color: #474747;
}
.resumeItems h3 {
  font-size: 25px;
  color: #474747;
  margin-bottom: 5px;
}
.resumeItems h4 {
  font-size: 20px;
  color: #474747;
  margin-bottom: 5px;
}
.resumeItems p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 20px;
  width: 88%;
  padding-bottom: 10px;
  border-bottom: #757575 2px solid;
}
.resumeRight h3 {
  font-size: 30px;
  margin-bottom: 40px;
  color: #474747;
}
.resumeRight h4 {
  font-size: 25px;
  color: #474747;
  margin-bottom: 5px;
}
.resumeRight h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeRight p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 20px;
  width: 88%;
  padding-bottom: 10px;
  border-bottom: #757575 2px solid;
}
.resumeFlex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.resumeLeft1 h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeLeft1 h4 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeLeft1 p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 20px;
  width: 88%;
  padding-bottom: 10px;
  border-bottom: #757575 2px solid;
}

.resumeRight1 h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeLeft2 h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeLeft2 h4 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeLeft2 p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 20px;
  width: 88%;
  padding-bottom: 10px;
  border-bottom: #757575 2px solid;
}
.resumeRight2 h4 {
  font-size: 20px;
  color: #474747;
  margin-bottom: 5px;
}
.resumeRight1 h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeRight2 h3 {
  font-size: 25px;
  color: #474747;
  margin-bottom: 5px;
}
.resumeRight2 h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #474747;
}
.resumeRight2 p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 20px;
  width: 88%;
  /* padding-bottom: 10px; */
  border-bottom: #757575 2px solid;
}
.resumeRight1 h4 {
  font-size: 20px;
  color: #474747;
  margin-bottom: 5px;
}
.cvBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #fd6e0a;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 110px;
  color: #fff;
}
#footer {
  width: 100%;
  padding: 100px 0;
  background-color: #fff8f3;
}
.footerLeft {
  width: 50% !important;
}
.footerRight {
  width: 50% !important;
}
.footerLeft h3 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 5px;
  /* width: 60%;  */
}
.footerLeft p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-bottom: 20px;
  width: 50% !important;
}
.footerRight h3 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.myInput {
  display: block;
  padding: 20px 30px;
  background-color: white;
  margin: 20px 0;
  width: 100%;
  border: transparent;
  border-radius: 5px;
}
.footerRight form button {
  width: 150px;
  height: 64px;
  background-color: #fd6e0a;
  border-radius: 5px;
  color: #fff;
  border: transparent;
  margin-top: 20px;
}
